<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//code.highcharts.com/highcharts.js"></script>
<script src="/js/welcome.js"></script>
<script src="/js/themes/grid-light.js"></script>

<div class="row">
  <% if signed_in? %>
    <div class="welcome-back">
      <div class="welcome-back-header">
        Welcome, <%= current_user.first_name %>!
      </div>

      <h6>Add a new item!</h6>
      <%= render 'form' %>
      <br />

      <ul class="small-block-grid-3 medium-block-grid-4 large-block-grid-5">
        <% @lists.each do |list| %>
          <li>
            <%= user.lists %>
          </li>
        <% end %>
      </ul>
      
  <% else %>
    <div class="row">
      <div class="large-6-columns">
        <div class="mainquote">
          "The man who thinks he can and the man who thinks he can't<br>
           and the man who thinks he can't<br>
             <p>  are both right. Which are you?"</p><br>
          -Henry Ford
        </div>
      </div>
    </div>
  <% end %>

  <% if signed_in? %>
  <div id="footer">
    *You'll need to add a date if you want to use the date functionality.</a>
  </div>
  <% end %>

</div>
