<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//code.highcharts.com/highcharts.js"></script>
<script src="/js/welcome.js"></script>
<script src="/js/themes/grid-light.js"></script>

<div class="row">
  <% if signed_in? %>
    <div class="welcome-back">
      <div class="welcome-back-header">
        Welcome, <%= current_user.first_name %>!
      </div>

      <div class="row">
        <div class="small-8 small-centered columns">
          <hr/>
          <div class="row">
            <div class="small-12 columns">
              <h3 class="text-center">Frequently Asked Questions</h3>
              <p>
                <strong>Is this service free?</strong>
                <br/>
                Yup, it's free. Normal texting fees do apply based on your plan.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <p>
                <strong>How Does it work?</strong>
                <br/>
                You can either visit the site directly and add in the proper field, or text your contact (once set up) with the proper syntax as described below.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <p>
                <strong>How do I add lists and items on the website?</strong>
                <br/>
                We seed one list for you to use - "To Do". If you want to add more,
                <br/>
                just visit the lists page (top bar, far left) and add the list in the form. Items work the same way.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <p>
                <strong>How do I use the texting functionality?</strong>
                <br/>
                This is the real magic. We use a programmatic text service to send you texts, and react to texts you send to update your lists. All from your phone!
              <p>
                In your text, just send a text with the list name, item name, and a due date in the format MM/DD/YY, and our servers take care of the rest. To query a list, start with "get" and then the list. To update a list, start with "put."
                <p>
                For example, "get groceries" will yield your grocery list. "Put buy shoes to do" would put the item "buy shoes" on your "to do" list. However, we don't have a way to actually create new lists from your phone at this time. Just log in!
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <p>
                <strong>My phone number is non-US. Can I use this service?</strong>
                <br/>
                Sorry, we currently only support US phone numbers.
              </p>
            </div>
          </div>
        </div>
      </div>



  <% else %>
    <div class="row">
      <div class="large-6-columns">
        <div class="mainquote">
          "The man who thinks he can and the man who thinks he can't<br>
           and the man who thinks he can't<br>
             <p>  are both right. Which are you?"</p><br>
          -Henry Ford
        </div>
      </div>
    </div>
  <% end %>

</div>
