<div id="container" style="width:100%; height:400px;"></div>





     <footer class="row">
       <div class="large-12 columns"><hr>
           <div class="row">


             <div class="large-6 small-12 columns">
                 <ul class="inline-list right">

                 </ul>
             </div>

           </div>
       </div>
     </footer>

   </div>
 </div>


 <div class="row">
   <div class="large-12 columns show-for-small">

     <img src="http://placehold.it/1200x700&text=Mobile Header">

   </div>
 </div><br>

 <script>
 document.write('<script src=js/vendor/' +
 ('__proto__' in {} ? 'zepto' : 'jquery') +
 '.js><\/script>')
 </script>
 <script src="js/foundation.min.js"></script>
 <script>
   $(document).foundation();
 </script>
